{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

{{!-- <div class="p-5 box">
    <h1 class="button">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h2 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>

    <button type="button" class="btn btn-primary button">Купити</button>

    <p class="user">Summary text</p>
</div>

<section class="p-5 box">
    <strong>Test</strong>
    <p class="user test">Summary text</p>
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <section>
        <p class="user test">Summary text</p>
    </section>
</section>

<footer class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <p class="user test">
        <em class="child">Test em</em>
    </p>

    <div>
        <div>
            <div class="child">Test em</div>
        </div>
    </div>
</footer> --}}

{{!-- <div class="card p-5 m-5 card-dark">
    <div class="item">First</div>
    <p class="item">Second</p>
    <article class="item">Last</article>
    <strong class="item">Test strong</strong>
    <div class="item">First</div>
    <p class="item">Second</p>
    <article class="item">Last</article>
    <p></p>
</div> --}}

{{!-- <div class="card m-5 p-5 card-dark">
    <input class="input-dark" placeholder="This is text" required>
    <input class="input-dark" type="number">
</div>

<div class="card p-5 m-5 card-dark img">
    <img alt="image small card 50px" class="small-img" src="https://picsum.photos/200/300" height="100px" />

    <a href="https://picsum.photos/200/300" rel="external">Link</a>
    <br />
    <button class="btn-primary">Click me</button>
    <br />
    <a href="https://picsum.photos/200/300" class="btn btn-secondary big">Click me</a>
</div>

<div class="card p-5 m-5 card-dark">
    <p class="big-text">
        This is text about info big text info.<br />This is text about info big text info. This is text about
        info big text info.
    </p>
</div> --}}

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}

    <div lang="fr" class="card p-5 m-5 card-dark">
        <a class="link" href="https://www.goognhdfyjdfggle.com/">Click me</a>
    </div>

    <div lang="en" id="test" class="card p-5 m-5 card-dark">
        <input>
        <span>Hello world!</span>
        <button>Test button</button>
    </div>

    <div class="p-5 m-5 card-dark">
        <button>Test button</button>
        <button disabled>disabled button</button>
    </div>

    <div class="p-5 m-5 card-dark">
        <input class="inp">
        <input class="inp" readonly>

        <div class="mt-5">
            <div>
                <input type="checkbox" checked>
                <span>First checkbox</span>
            </div>
            <div>
                <input type="checkbox">
                <span>Second checkbox</span>
            </div>
        </div>
    </div>

    <div class="p-5 m-5 card-dark">
        <div>
            <input type="email" required class="valid" placeholder="test">
            <span>Test text</span>
        </div>
        <div>
            <input type="email" optional class="valid">
        </div>
        <div>
            <input type="email" class="valid">
        </div>
        <div class="mt-5">
            <input type="number" min="10" max="20" required class="number">
        </div>
    </div>